{
  "extends": [
    "@strv/javascript/environments/nodejs/v8",
    "@strv/javascript/environments/nodejs/optional",
    "prettier"
  ],
  "rules": {
    "no-sync": 0,
    "no-console": 0,
    "no-process-exit": 0
  }
}
